.button {
    color: white;
    background-color:#562b9b;
}
*{
    
        
        
      
    background-color: #101820FF;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
    }
input{
    background-color: rgb(17, 16, 16);
}
.title, h1, h2{
    
    background-color: rgb(44, 136, 105);
}
.first{
    margin: auto;
    width: 50%;
    
    padding: 10px;
 
}
.main{
    margin: auto;
    width: 67%;
    
    padding: 10px;
    
}
